<!DOCTYPE html>
<head>

    <title>Trauki</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style.css">

</head>
<body>

    <div class="background">
        <img class="background-image" alt="background image" src="../../picture/background.jpg">
    </div>

    <div class="banner">
        <div class="navbar">
            <img src="../../picture/logo.png" alt="main logo">
            
           
        </div>

        <div class="rectangle">

            <div>
                <span><a class="back" href="../pakalpojumi.html"><i class="arrow2 left"></i><b>atgriezties</b></a></span>
            </div>

            <h1 class="title">Trauki</h1>

                <h3 class="text">
                    Apdrukas cenas:
                </h3>
                <ul class="list">
                    <li>krūze   -   6,00€</li>
                    <li>glāze   -   7,00€</li>
                    <li>bļoda   -   8,00€</li>
                    <li>šķīvis   -   10,00€</li>
                    <li>vāze   -   20,00€</li>
                    <li>cits   -   ......€</li>
                </ul>
        
                <h3 class="text">
                Produkts ir pieejams šādās krāsās:
                </h3>
                <ul class="list">
                    <li>melns <div class="box black"></div></li>
                    <li>balts <div class="box white"></div></li>
                    <li>sarkans <div class="box red"></div></li>
                    <li>oranžs <div class="box orange"></div></li>
                    <li>dzeltens <div class="box yellow"></div></li>
                    <li>zaļš <div class="box green"></div></li>
                    <li>zils <div class="box blue"></div></li>
                    <li>violets <div class="box purple"></div></li>
                    <li>brūns <div class="box brown"></div></li>
                
                </ul>
        
            <img class="trauki" src="../../picture/trauki.jpg" alt="trauki">
        
        </div>



</body>
</html>
