<!DOCTYPE html>
<head>

    <title>Тарелки</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../style.css">

</head>
<body>

    <div class="background">
        <img class="background-image" alt="background image" src="../../../picture/background.jpg">
    </div>

    <div class="banner">
        <div class="navbar">
            <img src="../../../picture/logo.png" alt="main logo">
            <margin>
            
            </margin>

            
        </div>

        <div class="rectangle">

            <div>
                <span><a class="back" href="../pakalpojumi.html"><i class="arrow2 left"></i><b>назад</b></a></span>
            </div>

            <h1 class="title">Тарелки</h1>

                <h3 class="text">
                    Цены на печать:
                </h3>
                <ul class="list">
                    <li>кружка   -   6,00€</li>
                    <li>стакан   -   7,00€</li>
                    <li>Чаша   -   8,00€</li>
                    <li>тарелка   -   10,00€</li>
                    <li>ваза   -   20,00€</li>
                    <li>Другие   -   ......€</li>
                </ul>
        
                <h3 class="text">
                    Продукт доступен в следующих цветах:
                </h3>
                <ul class="list">
                    <li>чернить <div class="box black"></div></li>
                    <li>белый <div class="box white"></div></li>
                    <li>красный <div class="box red"></div></li>
                    <li>оранжевый <div class="box orange"></div></li>
                    <li>желтый <div class="box yellow"></div></li>
                    <li>зеленый <div class="box green"></div></li>
                    <li>синий <div class="box blue"></div></li>
                    <li>пурпурный <div class="box purple"></div></li>
                    <li>коричневый <div class="box brown"></div></li>
                
                </ul>
        
            <img class="trauki" src="../../../picture/trauki.jpg" alt="trauki">
        
        </div>



</body>
</html>
