<!DOCTYPE html>
<head>

    <title>Нижнее белье</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../style.css">

</head>
<body>

    <div class="background">
        <img class="background-image" alt="background image" src="../../../picture/background.jpg">
    </div>


    <div class="banner">
        <div class="navbar">
            <img src="../../../picture/logo.png" alt="main logo">
            
            

            
        </div>


        <div class="rectangle">
            <div>
                <span><a class="back" href="../pakalpojumi.html"><i class="arrow2 left"></i>назад</a></span>
            </div>
            <h1 class="title">Нижнее белье</h1>

            <h3 class="text">Доступные размеры: XS, S, M, L, XL, XXL</h3>
        
                <h3 class="text">
                    Размеры печати и цены:
                </h3>
                <ul class="list">
                    <li>15x15cm   -   9,00€</li>
                    <li>20x20cm   -   10,00€</li>
                    <li>20x30cm   -   14,00€</li>
                    <li>20x40cm   -   15,00€</li>
                </ul>
        
                <h3 class="text">
                    Продукт доступен в следующих цветах:
                </h3>
                <ul class="list">
                    <li>чернить <div class="box black"></div></li>
                    <li>белый <div class="box white"></div></li>
                    <li>красный <div class="box red"></div></li>
                    <li>апельсин <div class="box orange"></div></li>
                    <li>зеленый <div class="box green"></div></li>
                    <li>синий <div class="box blue"></div></li>
                
                </ul>
        
            <img class="apaksvela" src="../../../picture/apaksvela.png" alt="Apakšveļa">
        
        </div>
    </div>


</body>
</html>