<!DOCTYPE html>
<head>

    <title>Носки</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../style.css">

</head>
<body>

    <div class="background">
        <img class="background-image" alt="background image" src="../../../picture/background.jpg">
    </div>

    <div class="banner">
        <div class="navbar">
            <img src="../../../picture/logo.png" alt="main logo">
            <margin>
            
            </margin>

            
        </div>

        <div class="rectangle">

            <div>
                <span><a class="back" href="../pakalpojumi.html"><i class="arrow2 left"></i><b>назад</b></a></span>
            </div>

            <h1 class="title">Носки</h1>
        
            

                <h3 class="text">
                    Размеры печати и цены:
                </h3>
                <ul class="list">
                    <li>20-22   -   10,00€</li>
                    <li>23-25   -   11,00€</li>
                    <li>26-28   -   12,00€</li>
                    <li>29-31   -   13,00€</li>
                    <li>32-34   -   14,00€</li>
                </ul>
        
                <h3 class="text">
                    Продукт доступен в следующих цветах:
                </h3>
                <ul class="list">
                    <li>чернить <div class="box black"></div></li>
                    <li>белый <div class="box white"></div></li>
                    <li>красный <div class="box red"></div></li>
                    <li>апельсин <div class="box orange"></div></li>
                    <li>желтый <div class="box yellow"></div></li>
                    <li>зеленый <div class="box green"></div></li>
                    <li>синий <div class="box blue"></div></li>
                    <li>пурпурный <div class="box purple"></div></li>
                    <li>коричневый <div class="box brown"></div></li>
                
                </ul>
        
            <img class="maisins" src="../../../picture/zekes.jpg" alt="auduma maisiņš">
        
        </div>



</body>
</html>