<!DOCTYPE html>
<head>

    <title>T-Shirt</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../style.css">

</head>
<body>

    <div class="background">
        <img class="background-image" alt="background image" src="../../../picture/background.jpg">
    </div>

    <div class="banner">
        <div class="navbar">
            <img src="../../../picture/logo.png" alt="main logo">
            <margin>
            
            </margin>

            
        </div>

        <div class="rectangle">

            <div>
                <span><a class="back" href="../pakalpojumi.html"><i class="arrow2 left"></i><b>back</b></a></span>
            </div>

            <h1 class="title">T-Shirt</h1>
        
            <h3 class="text">
                Print sizes and prices:
            </h3>
            <ul class="list">
                <li>XS   -   6,00€</li>
                <li>S   -   7,00€</li>
                <li>M   -   8,00€</li>
                <li>L   -   9,00€</li>
                <li>XL   -   10,00€</li>
            </ul>
    
            <h3 class="text">
                The product is available in the following colors:
            </h3>
            <ul class="list">
                <li>black <div class="box black"></div></li>
                <li>white <div class="box white"></div></li>
                <li>red <div class="box red"></div></li>
                <li>orange <div class="box orange"></div></li>
                <li>green <div class="box green"></div></li>
                <li>blue <div class="box blue"></div></li>
            
            </ul>
        
            <img class="krekls" src="../../../picture/t-krekls.png" alt="t-krekls">
        
        </div>



</body>
</html>