<!DOCTYPE html>
<head>

    <title>Plates</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../style.css">

</head>
<body>

    <div class="background">
        <img class="background-image" alt="background image" src="../../../picture/background.jpg">
    </div>

    <div class="banner">
        <div class="navbar">
            <img src="../../../picture/logo.png" alt="main logo">
            <margin>
            
            </margin>

            
        </div>

        <div class="rectangle">

            <div>
                <span><a class="back" href="../pakalpojumi.html"><i class="arrow2 left"></i><b>back</b></a></span>
            </div>

            <h1 class="title">Plates</h1>

                <h3 class="text">
                    Printing prices:
                </h3>
                <ul class="list">
                    <li>a mug   -   6,00€</li>
                    <li>a glass   -   7,00€</li>
                    <li>a bowl   -   8,00€</li>
                    <li>a plate   -   10,00€</li>
                    <li>a vase   -   20,00€</li>
                    <li>other   -   ......€</li>
                </ul>
        
                <h3 class="text">
                    The product is available in the following colors:
                </h3>
                <ul class="list">
                    <li>black <div class="box black"></div></li>
                    <li>white <div class="box white"></div></li>
                    <li>red <div class="box red"></div></li>
                    <li>orange <div class="box orange"></div></li>
                    <li>yellow <div class="box yellow"></div></li>
                    <li>green <div class="box green"></div></li>
                    <li>blue <div class="box blue"></div></li>
                    <li>purple <div class="box purple"></div></li>
                    <li>brown <div class="box brown"></div></li>
                
                </ul>
        
            <img class="trauki" src="../../../picture/trauki.jpg" alt="trauki">
        
        </div>



</body>
</html>
