<!DOCTYPE html>
<head>

    <title>Cloth bag</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../style.css">

</head>
<body>

    <div class="background">
        <img class="background-image" alt="background image" src="../../../picture/background.jpg">
    </div>

    <div class="banner">
        <div class="navbar">
            <img src="../../../picture/logo.png" alt="main logo">
            
            

            
        </div>

 
        <div class="rectangle">

            <div>
                <span><a class="back" href="../pakalpojumi.html"><i class="arrow2 left"></i>back</a></span>
            </div>

            <h1 class="title">Cloth bag</h1>
                        
            <h3 class="text">Product size - 50x50cm</h3>

                <h3 class="text">
                    Apdrukas izmēri un cenas:
                </h3>
                <ul class="list">
                    <li>30x25cm   -   15,00€</li>
                    <li>35x30cm   -   16,00€</li>
                    <li>40x35cm   -   18,00€</li>
                    <li>45x40cm   -   20,00€</li>
                    <li>50x50cm   -   22,00€</li>
                </ul>
        
                <h3 class="text">
                    The product is available in the following colors:
                </h3>
                <ul class="list">
                    <li>clack <div class="box black"></div></li>
                    <li>white <div class="box white"></div></li>
                    <li>red <div class="box red"></div></li>
                    <li>orange <div class="box orange"></div></li>
                    <li>yellow <div class="box yellow"></div></li>
                    <li>green <div class="box green"></div></li>
                    <li>blue <div class="box blue"></div></li>
                    <li>purple <div class="box purple"></div></li>
                    <li>brown <div class="box brown"></div></li>
                
                </ul>

        
            <img class="maisins" src="../../../picture/maisins.png" alt="auduma maisiņš">
        
        </div>
    </div>


</body>
</html>