<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SERVICES</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <div class="background">
        <img class="background-image" alt="background image" src="../../picture/background.jpg">
    </div>

    <div class="banner">
        <div class="navbar">
            <img src="../../picture/logo.png">

            <nav>
                <span><a href="index_en.html">HOME</a></span>
            </nav>

            <span class="selected-lang">Angļu</span>
        </div>

        <div class="row">

            <div class="column">
            <a href="store-categories/store_cat_t_shirts.html" class="col-lg-3 col-md-4 col-sm-6 store-cat">
                <img src="../../picture/t-shirt.jpeg" alt="t-shirt">
                <span>T-shirt</span>
            <a href="store-categories/store_cat_hoodie.html" class="col-lg-3 col-md-4 col-sm-6 store-cat">
                <img src="../../picture/hoodie.jpg" alt="hoodie">
                <span>Hoodie</span>
            <a href="store-categories/store_cat_socks.html" class="col-lg-3 col-md-4 col-sm-6 store-cat">
                <img src="../../picture/socks.jpg" alt="socks">
                <span>Socks</span>
            <a href="store-categories/store_cat_A_maiss.html" class="col-lg-3 col-md-4 col-sm-6 store-cat">
                <img src="../../picture/A_maiss.jpg" alt="a-maiss">    
                <span>Cloth bag</span>
            </div>
            <div class="column">
            <a href="store-categories/store_cat_underwear.html" class="col-lg-3 col-md-4 col-sm-6 store-cat">
                <img src="../../picture/underwear.jpg" alt="underwear">    
                <span>Underwear</span>
            <a href="store-categories/store_cat_plate.html" class="col-lg-3 col-md-4 col-sm-6 store-cat">
                <img src="../../picture/plate.jpg" alt="plates">    
                <span>Dishes</span>
            <a href="store-categories/store_cat_souveniers.html" class="col-lg-3 col-md-4 col-sm-6 store-cat">
                <img src="../../picture/souveniers.jpg" alt="souveniers">    
                <span>Souveniers</span>
            </div>
    </div>
    </div>
</body>
</html>