<!DOCTYPE html>
<head>

    <title>Bļodas</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>

    <div class="background">
        <img class="background-image" alt="background image" src="../picture/background.jpg">
    </div>

    <div class="banner">
        <div class="navbar">
            <img src="../picture/logo.png" alt="main logo">
            
            <nav>
                <span><a href="index.html"><b>SĀKUMS</b></a></span>
                <span><a href="view/pakalpojumi.html"><b>PAKALPOJUMI</b></a></span>
                <span><a href="view/kontakti.html"><b>KONTAKTI</b></a></span>
            </nav>

            <div id="language-menu">
                <span>Language</span>

                <div id="language-dropdown">
                    <div class="language">
                        <img src="../picture/latvija.png" alt="LV flag">
                        <span>Latvian</span>
                    </div>
                    <div class="language">
                        <img src="../picture/british.png" alt="UK flag">
                        <span>English</span>
                    </div>
                    <div class="language">
                        <img src="../picture/russian.jpg" alt="RU flag">
                        <span>Russian</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="rectangle">

            <div>
                <span><a class="back" href="../index.html"><i class="arrow2 left"></i>atgriezties</a></span>
            </div>

            <h1 class="title">Bļodas</h1>

            <h3 class="text">Produkta augstums un diametrs - 6x20cm</h3>
        
                <h3 class="text">
                    Apdrukas izmēri un cenas:
                </h3>
                <ul class="list">
                    <li>10x5cm   -   8,00€</li>
                    <li>15x10cm   -   10,00€</li>
                    <li>30x5cm   -   12,00€</li>
                    <li>20x15cm   -   13,00€</li>
                    <li>30x10cm   -   14,00€</li>
                </ul>
        
                <h3 class="text">
                Produkts ir pieejams šādās krāsās:
                </h3>
                <ul class="list">
                    <li>melns <div class="box black"></div></li>
                    <li>balts <div class="box white"></div></li>
                
                </ul>
        
            <img class="blodas" src="../picture/blodas.webp" alt="Bļodas">
        
        </div>



</body>
</html>
