<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kontakti</title>

    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="background">
        <img class="background-image" alt="background image" src="../picture/12222.jpg">
    </div>

    <div class="banner">
        <div class="navbar">
            <img src="../picture/logo.png">

            <nav>
                <span><a href="../index.html">SĀKUMS</a></span>
                
            </nav>

            <span class="selected-lang"></span>
        </div>

        <div class="content">
            <h1 class="title-kontakti">Kontakti</h1>
            <h3></br>Tālrunis+371 26753905</br>E-pasts: limbaziapdruka@limbazi.lv <br>Mēs atrodamies: Rīgas ielā 23 Limbaži </h3>
        </div>
    </div>
      </div>

</body>
</html>